.pie { width:920px; clear:both;  background:#013C7A; border-top: 3px solid #ffffff;}
.pie p {padding:0;margin:0; text-align:center; color: #FFFFFF; font-size: 10px; }


body{
  color:#333;
  line-height:180%;
  margin:0;
  padding:0;
  text-align: left;

}

#pie_base{
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: #013C7A;
  margin: auto;


}


}

#cuerpo_base {
  margin: 0;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;


}

#app {
  margin : 0;


}

#ul_layout {
  list-style-type: none;
  margin: 0;
  padding: 0;



}

#li_layout {
  float: left;
  margin: 0;


}

#li_layout a {
  color: black;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 0;

}